body {
    font-family: Montserrat, Roboto, sans-serif;
}

main {
    width: 60%;
    height: 0 auto;
}

h1 {
    font-weight: 3rem;
    margin-bottom:0;
}

h1 + h2 {
    margin-top: 0;
}

h1, h2, h3 {
    font-family: Roboto, sans-serif;
}